# Mac
.DS_Store

# test 
test/

# history
**/history/*
**/previous/*

#python
*.pyc

#AS
#all hidden files
.*  # ignore all hidden files and folders
!/.gitignore  # explicitly do not ignore .gitignore


#testing to ignore ipynb_checkpoints
# it will work only for untracked files ; :/
.ipynb_checkpoints







